* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #eee;
}
header {
    background-color: #c4c4c4;
    height: 90px;
    display: flex;
    justify-content: space-between;
}
header div.logo {
    height: 90px;
    max-width: 125px;   
}
header div.logo img {
    height: 100%;
}
header nav {
    display: flex;
    margin-right: 5vw;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    padding: 30px 20px 30px;
}
ul li.whatsappBtn a{
    padding: 0px;
    margin: 0 15px;
}
ul li.whatsappBtn button {
    font-size: 24px;
    padding: 5px 0px 5px;
    border-radius: 24px;
    box-shadow: 2px 2px #222;
}
ul li.whatsappBtn .fa-whatsapp {
    padding-right: 10px;
}
/* nav for mobile devices */
.menuBtn, .closeMenuBtn {
    font-size: 52px;
    align-self: center;
    margin-right: 5%;
    cursor: pointer;
    display: none;
}
div.mobileNav {
    background-color: #777;
    position: absolute;
    top: 90px;
    padding: 20px;
    z-index: 1;
    width: 100%;
    height: 500px;
    text-align: center;
    display: none;
}
div.mobileNav ul {
    list-style: none;
    line-height: 3.5;
    font-size: 24px;
}
div.mobileNav ul li a {
    text-decoration: none;
    color: black;
    width: 100%;
}

/* Header end */

.banner {
    width: 100vw;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5%;
}
.slider {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #000;
}
.banner img{
    width: 100vw;
    height: 600px;
    object-fit: cover;
    position: absolute;
    
    opacity: 0;
    transition: opacity 1000ms ease;
}
span.caption {
    opacity: 0;
    position: absolute;
    bottom: 50px;
    left: 1vw;
    right: 1vw;
    text-align: center;
    color: #eee;
    background-color: rgba(0, 0, 0, 0.082);
    font-weight: 700;
    font-size: 30px;
}
.prev, .next {
    background-color: rgba(128, 128, 128, 0.342);
    color: rgba(255, 255, 255, 0.466);
    border: 3px solid rgba(255, 255, 255, 0.466);
    font-size: 25px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 45%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
span.prev:hover, span.next:hover {
    background-color: rgba(34, 34, 34, 0.7);
    color: rgba(255, 255, 255, 0.7);
    border: 3px solid rgba(255, 255, 255, 0.7);

    transition: 200ms ease;
}
.next {
    right: 0;
}
.prev {
    left: 0;
}
div.dots {
    position: absolute;
    bottom: 10px;
    text-align: center;
    left: 43.5vw;
    right: 43.5vw;
    display: flex;
    justify-content: center;
}
span.dot {
    border: 3px solid rgba(255, 255, 255, 0.32);
    background-color: rgba(255, 255, 255, 0.2);
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin: 0 2.5%;
    cursor: pointer;
}
.active, .dot:hover {
    background-color: rgba(34, 34, 34, 0.7);
    border: 3px solid rgba(255, 255, 255, 0.79);
  transition: 200ms ease;
}

.slider img.selected {
    opacity: 0.7;
}
span.selected {
    opacity: 1;
}
span.selectedDot {
    background-color: rgba(34, 34, 34, 0.79);
    border: 3px solid rgba(255, 255, 255, 0.88);
    transition: 100ms ease;
}

/* banner section end */

main section.services {
    margin: 2.5%;
}
div.serviceBox {
    width: 75%;
    background-color: #dfdfdf;
    margin: 2.5% auto;
    text-align: center;
    display: grid;
    grid-template-areas: 
    "title"
    "image"
    "description";
}
div.serviceBox h3 {
    font-size: 30px;
    margin: 2.5%;
    margin-bottom: 0;
    grid-area: title;
}
div.serviceBox img {
    width: 50%;
    height: auto;
    max-height: 400px;
    margin: 2.5% auto;
    grid-area: image;
    object-fit: cover;
}
div.serviceBox p {
    width: 75%;
    font-size: 20px;
    margin: 0 auto 2.5%;
    grid-area: description;
}
div.blkStripe {
    background-color: #aaa;
}
/* services section end */

main section.about {
    margin: 2.5%;
}
section.about div.aboutInfo {
    margin: 2.5%;
    display: flex;
    font-size: 20px;
}
div.aboutInfo div.cardsInfo {
    margin: 2.5%;
    text-align: center;
}
div.cardsInfo i {
    font-size: 150px;
    margin: 5%;
}
div.cardsInfo p {
    margin: 2.5% 20%;
}
section.about div.aboutPhilosophy {
    display: flex;
    margin: 2.5%;
}
div.aboutPhilosophy div.philosophyCards{
    background-color: #ddd;
    margin: 2.5%;
    padding: 2.5%;
    text-align: center;
    box-shadow: 2px 2px 5px #333;
    font-size: 20px;
}
div.philosophyCards h3 {
    font-size: 30px;
    margin: 2.5%;
}
div.philosophyCards i {
    font-size: 80px;
    margin: 2.5%;
}
div.philosophyCards p {
    margin: 2.5%;
}
/* about section end */

main section.contact {
    display: flex;
    margin: 2.5%;
    align-items: center;
    border-radius: 16px;
}
main h1 {
    text-align: center;
    font-size: 36px;
}
section.contact div.contactCard {
    height: 80%;
    width: 31.5%;
    min-height: 350px;
    margin: auto 1.5%;
    box-shadow: 3px 3px 5px #777;
    border: solid 1px #eee;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.contact div.contactCard i {
    font-size: 100px;
    margin-top: 10%;
}
section.contact div.contactCard h3 {
    margin: 5% 0;
    font-size: 30px;
}
/* section.contact div.contactCard  {
    
} */
section.contact div.contactCard a i {
    font-size: 25px;
    margin-top: 0;
    padding-right: 10px;
}
section.contact div.contactCard a {
    width: 100%;
    text-decoration: none;
    color: black;
    font-size: 24px;
    line-height: 1.8;
    padding: 2.5px 2.5px;
    margin: 2.5px 2.5px;
    text-align: center;
    text-shadow: 1px 1px 2px #aaa;
    overflow-wrap: break-word;
    
}

/* contact section end */

footer {
    background-color: #c4c4c4;
}
footer div.footerNav {
    background-color: #a4a4a4;
    display: flex;
    justify-content: center;
    padding: 35px;
}
footer div.logo img {
    width: 150px;
    height: auto;
}
footer div.footerCol {
    margin-left: 15%;
    line-height: 1.8;
}
footer ul {
    list-style: none;
}
footer ul li a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #222;
}
footer section.footerBar {
    text-align: center;
    padding: 25px;
}
@media(max-width: 767px) { 
    /* mobile header section */
    header nav {
        display: none;
    }
    .menuBtn {
        display: inline-block;
    }
    /* mobile banner section */
    .prev, .next {
        width: 60px;
        height: 60px;
    }
    div.dots {
        left: 35vw;
        right: 35vw;
    }
    /* mobile services section */
    div.serviceBox {
        display: grid;
        grid-template-areas: 
        "title"
        "image"
        "description"
    }
    div.serviceBox h3 {
        grid-area: title;
    }
    div.serviceBox p {
        grid-area: description;
    }
    div.serviceBox img {
        width: 75%;
        grid-area: image;
    }
    /* mobile about sectoin */
    section.about div.aboutInfo {
        flex-direction: column;
    }
    div.cardsInfo p {
        margin: 2.5% 0;
    }
    section.about div.aboutPhilosophy {
        margin: auto;
        width: 70%;
        flex-wrap: wrap;
        align-content: center;
        text-align: center;
        justify-content: center;
    }
    /* mobile contact section */
    section.contact {
        flex-direction: column;
        width: 95vw;
    }
    section.contact div.contactCard {
        width: 70%;
        margin: 0;
    }
    /* mobile footer */
    footer div.footerNav {
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
    footer div.footerCol {
        margin-left: 0;
        margin-bottom: 10%;
        line-height: 1.8;
    }
}